<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input onkeydown={{action maybeAddTodo}} value={{newDescription}} class="new-todo" placeholder="What needs to be done?" autofocus>
  </header>
  {{#if allTodos.length}}
  <section class="main">
    <input onchange={{action toggleAll}} id="toggle-all" class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      {{#each visibleTodos key="id" as |todo|}}
      <li class={{classnames 'completed' todo.completed 'editing' todo.editing}}>
        <div class="view">
          <input onchange={{action toggleTodo todo.id}} class="toggle" type="checkbox" checked={{todo.completed}}>
          <label ondblclick={{action toggleEditing todo.id}}>{{todo.description}}</label>
          <button onclick={{action deleteTodo todo.id}} class="destroy"></button>
        </div>
        <input onkeydown={{action maybeToggleEditing todo.id}} oninput={{action updateTodoDescription todo.id}} class="edit" value={{todo.description}}>
      </li>
      {{/each}}
    </ul>
  </section>
  {{/if}}
  {{#if allTodos.length}}
  <footer class="footer">
    <span class="todo-count"><strong>{{allTodos.length}}</strong> {{pluralize allTodos.length 'item' 'items'}}  left</span>
    <ul class="filters">
      <li onclick={{action viewAll}}>
        <a class={{classnames 'selected' viewingAll}} href="#/">All</a>
      </li>
      <li onclick={{action viewActive}}>
        <a class={{classnames 'selected' viewingActive}} href="#/active">Active</a>
      </li>
      <li onclick={{action viewCompleted}}>
        <a class={{classnames 'selected' viewingCompleted}} href="#/completed">Completed</a>
      </li>
    </ul>
    {{#if completedTodos.length}}
    <button onclick={{action clearCompleted}} class="clear-completed">Clear completed</button>
    {{/if}}
  </footer>
  {{/if}}
</section>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <p>Created by <a href="http://todomvc.com">Bradley Spaulding</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
